
header {
  //background-image: linear-gradient(to bottom right, red, yellow);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/header.jpg') no-repeat, center, center;
  background-size: cover;
  height: 24vh;

  .h2 {
    color: #ffffff;
    text-align: center;
    line-height: 4.5;
    letter-spacing: 1px;
  }

  /* .img-fluid {
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 28vh;
   } */
}